*{
    margin:0;
    padding:0;
    font:14px/1.8 "Courier New", "Brush Script MT";
    }
ul,li{
    list-style:none;
    }
body{
    background: #fff;
    }
.changeColor{
    padding: 10px;
    margin: auto;
    height: auto;
    width: 200px;
    line-height: 50px;
    text-align: center;
    border-radius: 1px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    position: relative;
    float: left;
}
/* https://www.w3schools.com/howto/howto_js_dropdown.asp */
button{
    background-color: #fff0be;
    margin-right: 10px;
    cursor: pointer;
}
button:hover, button:focus{
    background-color: #f7cf4d;
}
.dropdown0{
    display: none;
    width: 100%;
    margin-left: 200px;
    margin-top: -60px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
}
.dropdown0 button{
    color:black;
    display: block;
    background-color: #fff0be;
    position: relative;
    float: left;
}
.dropdown0 button:hover {background-color: #f7cf4d;}
.dropdown1{
    display: none;
    width: 100%;
    margin-left: 200px;
    margin-top: -60px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
}
.dropdown1 button{
    color:black;
    display: block;
    background-color: #fff0be;
    position: relative;
    float: left;
}
.dropdown1 button:hover {background-color: #f7cf4d;}
.dropdown2{
    display: none;
    width: 100%;
    margin-left: 200px;
    margin-top: -60px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
}
.dropdown2 button{
    color:black;
    display: block;
    background-color: #fff0be;
    position: relative;
    float: left;
}
.dropdown2 button:hover {background-color: #f7cf4d;}
.dropdown3{
    display: none;
    width: 100%;
    margin-left: 200px;
    margin-top: -60px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
}
.dropdown3 button{
    color:black;
    display: block;
    background-color: #fff0be;
    position: relative;
    float: left;
}
.dropdown3 button:hover {background-color: #f7cf4d;}
.dropdown4{
    display: none;
    width: 100%;
    margin-left: 200px;
    margin-top: -60px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
}
.dropdown4 button{
    color:black;
    display: block;
    background-color: #fff0be;
    position: relative;
    float: left;
}
.dropdown4 button:hover {background-color: #f7cf4d;}
.show {display:block}
.checkin{
    margin: auto;
    position: relative;
    float: left;
    margin-left: 220px;
}
.title{
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin-bottom: 5px;
    text-align: center;
    }
.title p{
    float: left;
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
     font-family: 'Brush Script MT';
    }
.title a{
    display: inline-block;
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff0be;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    }
.checkin li{
    background: #ffffff;
    float: left;
    padding: 10px;
    text-align: center;
    }
li.able-checkin{
    background: #fff0be;
     }
li.checked{
    background:#d8efff;
    }
.dark{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
    visibility: hidden;
    transition: all 0.25s ease}
.cover{
    background:#fff;
    width: 450px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    margin-top: -200px;
    margin-left:-225px;
    left: 50%;
    top: 50%;
    border:5px solid #000000;
    box-sizing:border-box;
    overflow: hidden;
    transform: translateY(-200%);
    transition: all 0.25s ease}
a.closeBtn{
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: 'simsun';
    font-size: 18px;
    text-decoration: none;
    font-weight: bolder;
    color: #333}
.title_h1{
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    padding-top: 80px;
    display: block;
    width: 100%}
.title_h1 span{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #000000;
    color: #fff;
    position: relative;
    float: left;
    margin-left: 25%;
    margin-top: 7px;
    }
.title_h1 span::before{
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 8px;
    top: 23px;
    display: block;
    line-height: 0;
    font-size: 0;
    content: "";
     transform: rotate(52deg);
    }
.title_h1 span::after{
    width: 24px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 12px;
    top: 20px;
    display: block;
    line-height: 0;
    font-size: 0;
    content: "";
    transform: rotate(-45deg);
    }
.title_h1 em{
    font-size: 30px;
    float: left;
    margin-left: 10px;
    }
.title_h1 i{
    font-size: 16px;
    float: left;
    margin: 14px 0 0 10px;
     }
div.form{
    display: block;
    text-align: center;
    height: 50%;
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:100%;
    height: 100%;
}
.box{
    margin: 1px;
    padding: 1px;
    width: 75%;
    height: 75%;
    resize: none;
}
button.saveBtn{
    display: inline-block;
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff0be;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
}
.trf{
    visibility: visible;
    }
.trf .cover{
    transform: translateY(0);
    }
.text{
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    height: 50px;
}
b{
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    font-size: 30px;
    text-align: left;
}
pre{
    display: inline-block;
    margin: 50px;
    background-color: whitesmoke;
    width:90%;
}
code{
    width:70%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 30px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }